<!-- Action bar -->
<div>
    <p><strong>Actions</strong></p>
    <!-- pinning and archiving a note -->
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <!-- pinning -->
            <div>
                <button type="submit" value="pinned">{% if note.pinned %}Unpin{% else %}📌 Pin{% endif %}</button>
            </div>
            <!-- archiving -->
            <div>
                <button type="submit" value="archived">{% if note.archived %}Unarchive{% else %}📦 Archive{% endif %}</button>
            </div>
        </form>
    </div>
    <!-- delete note -->
    <div>
        <button><a href="">🗑️ Delete</a></button>
    </div>
</div>