{% extends './base.html' %}

{% block title %}Add Employee{% endblock title %}

{% block content %}
    <!-- Add Employee -->
    <section>
        <div>
            <h2>Add an Employee</h1>
        </div>
        <div>
            <form action="{% url 'add_employee' %}" method="post">
                <div>
                    <h3>Basic Information</h3>
                    {{ employee_form.as_div }}
                </div>
                <div>
                    <h3>Education</h3>
                    {{ education_form.as_div }}
                </div>

                <!-- Submit -->
                {% csrf_token %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
{% endblock content %}