{% extends "./base.html" %}

{% block content %}
    <!-- Update Employee -->
    <div>
        <h2>Update an Employee</h1>
    </div>
    <div>
        <form action="" method="post">
            <div>
                <h3>Basic Information</h3>
                {{ employee_form.as_div }}
            </div>
            <div>
                <h3>Eduction</h3>
                {{ education_form.as_div }}
            </div>
            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}