<section>
    <div>
        {% if employees %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                        <tr>
                            <td>{{ employee.first_name }} {% if employee.middle_name %} {{ employee.middle_name }} {% endif %} {{ employee.last_name }}</td>
                            <td>{{ employee.designation }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.phone }}</td>
                            <td>{{ employee.age }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div>
                <p>Sorry no employee data is available.</p>
                <a href="{% url 'add_employee' %}">Add Employee</a>
            </div>
        {% endif %}
    </div>
</section>