{% extends 'base.html' %}

{% block title %}Reset password &ndash; Notes App{% endblock title %}

{% block content %}
    <!-- horizontal line -->
    <hr>

    <div>
        <div>
            <h2>Reset your password</h2>
        </div>

        <!-- password reset form -->
        <div>
            <form method="post" action="{% url 'password_reset' %}">
                {% csrf_token %}
                {{ form.as_div }}

                <!-- reset/submit -->
                <input type="submit" value="Reset">
            </form>
        </div>
    </div>
{% endblock content %}