{% extends 'base.html' %}

{% block title %}Reset your password &ndash; Notes App{% endblock title %}

{% block content %}
    <!-- horizontal line -->
    <hr>

    <div>
        <h1>Reset your password</h1>
        
        {# if link is valid or unused yet #}
        {% if validlink %}
            <h3>Please enter your new password.</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_div }}
                
                <!-- submit/reset -->
                <input type="submit" value="Reset">
            </form>
        {% endif %}
    </div>
{% endblock content %}