<section>
    <div>
        <div>
            <p>You have {{ incomplete_todos }} incomplete todos...</p>
            <div>
                <form action="" method="get">
                    <select name="sort_by" id="">
                        <option value="" selected>Sort by</option>
                        <option value="ascending">Ascending &#40;A-Z&#41;</option>
                        <option value="descending">Descending &#40;Z-A&#41;</option>
                        <option value="date_created">Date created</option>
                        <option value="date_updated">Date updated</option>
                    </select>
                    <button type="submit">Sort</button>
                </form>
            </div>
        </div>
        {% for todo in todos %}
            <div>
                <ul>
                    <li><input type="checkbox" {% if todo.completed %}checked{% endif %}></li>
                    <li>{{ todo.title }}</li>
                    <li><em>Created at</em>: {{ todo.created_at }}</li>
                    <li><em>Updated at</em>: {{ todo.updated_at }}</li>
                </ul>
                <div>
                    <a href="{% url 'update_todo' todo.id %}">Update</a>
                    <a href="{% url 'delete_todo' todo.id %}">Delete</a>
                </div>
                <hr>
            </div>
        {% empty %}
            <div>
                <p>Your Todo list is empty.</p>
            </div>
        {% endfor %}
    </div>
</section>