<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body>
    <!-- Header -->
    {% include 'partials/_header.html' %}
    <main>
        {% block content %}
            <!-- Main content -->
        {% endblock content %}
    </main>
    <!-- Footer -->
    {% include 'partials/_footer.html' %}

    <!-- JavaScript -->
    {% block JavaScript %}{% endblock JavaScript %}
  </body>
</html>
