{% extends 'base.html' %}

{% block title %}Django Notes App{% endblock title %}

{% block content %}
    <!-- horizontal line -->
    <hr>

    <!-- sidebar -->
    {% include 'partials/_sidebar.html' %}

    <!-- notes -->
    <div>
        <!-- header -->
        <div>
            <h2>Notes</h2>
            <a href="{% url 'create_note' %}">Add Note</a>
        </div>
        <hr>

        <!-- content -->
        <div>
            {% for note in notes %}
            <div>
                <h3>{{ note.title }}</h3>
                <p>{{ note.body }}</p>
                <ul>
                    <li>
                        Tags:
                        <ul>
                            {% for tag in note.tags.all %}
                                <li>{{ tag }}</li>
                            {% empty %}
                                <li>No tags</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>Status: {{ note.status }}</li>
                    <li>Archived: {{ note.archived }}</li>
                    <li>Created at: {{ note.created_at }}</li>
                    <li>Updated at: {{ note.updated_at }}</li>
                </ul>
            </div>
            <hr>
            {% empty %}
            <div>
                <p>You currently don't have any notes</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}