body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

table {
  margin-top: 12px;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  padding: 14px 8px 14px 8px;
}

.btn {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 24px;
}

.btn-green {
  background-color: green;
}

.btn-red {
  background-color: rgb(158, 0, 0);
}
