{% extends 'base.html' %}

{% block title %}Add Note &ndash; Notes App{% endblock title %}

{% block content %}
    <!-- horizontal line -->
    <hr>
    
    <!-- sidebar -->
    {%  include 'partials/_sidebar.html' %}
    <div>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="id_name">Tag name:</label>
                <input type="text" name="name" id="id_name" value="{{ tag.name }}">
            </div>
        
            <!-- update/submit -->
            <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}